.card-div{
    background-color: #222124;
    border-radius: 10px;
    width: 400px;
    height: 200px;
    margin: 6% 7%;
    color: aliceblue;
    box-shadow: #959da57a 0px 12px 24px;
    display: flex;
    flex-direction: column;
}